  SUBROUTINE DETAIL.REV.DIST(MAT DET.REC,LN,SRC.FLAG)
*COPY>CPYLIB>COM1
*COPY>PMC.CPYLIB>COM.COA
*********************************************************************
* REVISION    - [10A]
* Copyright 1982 by Computer Business Associates (Vercom Software, Inc.)
* SYSTEM      - PRIMAC
* SOURCE      - GLSBP
* PROGRAM     - DETAIL.REV.DIST
* BY          - CINDY STRAIT
* DATE        - 08/29/95
* DESCRIPTION -
*   This program is an inquiry for detail revenue distribution for manual invoices
*T25978 adelgado 02/07/2002 * Add the use of prompts (S,SR,SB,ST).
*ENDDOC
*********************************************************************
*
*--- INSERT FILES EQUATES
*
*COPY>PMC.CPYLIB>COMPANY
*COPY>PMC.CPYLIB>COA
*COPY>PMC.CPYLIB>COA.FILE.VARS
*COPY>PMC.CPYLIB>SALESMAN
*COPY>PMC.CPYLIB>SALES.CODE
*COPY>PMC.CPYLIB>TAX
*COPY>JCS.CPYLIB>JOB
*COPY>PMC.CPYLIB>SHIP.VIA
*COPY>GLS.CPYLIB>GLM
*COPY>GLS.CPYLIB>COA.BAL
*COPY>ARS.CPYLIB>MANUAL.INVOICE
*COPY>JCS.CPYLIB>INVOICE
*COPY>GLS.CPYLIB>GLX
*COPY>PMC.CPYLIB>GLTABLE
*COPY>CPYLIB>EDIT.COM
*COPY>CPYLIB>EDIT.COM.DRIVER
*COPY>CPYLIB>FILE.VARS
*COPY>CPYLIB>GEN.XREF
*COPY>CPYLIB>CHAR
*COPY>CPYLIB>SYSCOM
  MAT SYSCOM.REC =  ""; SYS.TYPE = 2
*
  OPEN "SALES.CODE" TO SALES.CODE ELSE ERRMSG = "SALES.CODE FILE IS MISSING";GOSUB 91000;GOTO 99999
  OPEN "CONTROL" TO CONTROL ELSE ERRMSG = "CONTROL FILE IS MISSING";GOSUB 91000;GOTO 99999
  OPEN "COA" TO COA ELSE ERRMSG = "COA FILE IS MISSING";GOSUB 91000;GOTO 99999
  OPEN "TAX" TO TAX ELSE ERRMSG = "TAX FILE IS MISSING";GOSUB 91000;GOTO 99999
  OPEN "JOB" TO JOB ELSE ERRMSG = "JOB FILE IS MISSING";GOSUB 91000;GOTO 99999
  OPEN "SHIP.VIA" TO SHIP.VIA ELSE ERRMSG = "SHIP.VIA FILE IS MISSING";GOSUB 91000;GOTO 99999
*
  MATREAD GLTABLE.REC FROM CONTROL, CONO:'GLTABLE' ELSE
    ERRMSG = "CANNOT LOCATE CONTROL, GLTABLE "
    GOTO 91000
  END
  DIM DET.REC(150)
  IF SRC.FLAG = "MJ" THEN 
    CHG.CODE = DET.REC(9)
    SALESCD = DET.REC(28)
    TAX.JURS = DET.REC(13)
    DVDPCC = DET.REC(41)
    AMT = DET.REC(42)
  END ELSE
    CHG.CODE = DET.REC(9)
    MATREAD JOB.REC FROM JOB,CONO:DET.REC(2) ELSE MAT JOB.REC = ''
    SALESCD = JOB.SALES.CODE
    TAX.JURS = DET.REC(13)
    DVDPCC = DET.REC(53)
    AMT = DET.REC(54)
  END
*
  BEGIN CASE
    CASE CHG.CODE<1,LN> = "MSC" OR CHG.CODE<1,LN> = "DSC"
      MATREAD SLC.REC FROM SALES.CODE,CONO:TAX.JURS<1,LN> ELSE MAT SLC.REC = ''
      GLACCT = SLC.GL.ACCT<1>
    CASE CHG.CODE<1,LN> = "TAX"
      MATREAD TAX.REC FROM TAX,CONO:TAX.JURS<1,LN> ELSE MAT TAX.REC = ''
      GLACCT = TAX.ACCT<1>
    CASE CHG.CODE<1,LN> = "DSC"
      MATREAD SHIP.VIA.REC FROM SHIP.VIA,CONO:TAX.JURS<1,LN> ELSE SHPV.REC = ''
      GLACCT = SHPV.GL.NO
    CASE 1
      IF SALESCD = "" THEN 
        GLACCT = GLTB.SALES 
      END ELSE
        MATREAD SLC.REC FROM SALES.CODE,CONO:SALESCD ELSE MAT SLC.REC = ''
        GLACCT = SLC.GL.ACCT<1>
      END
  END CASE
*
*
  MATREAD COA.REC FROM COA,CONO:GLACCT ELSE MAT COA.REC = ""
  GLDESC = COA.DESC
  LN1=0
  LINES1=DCOUNT(AMT<1,LN>,SVM)
  PAGE.SIZE1 = 15
  BEGIN.PAGE1 = 4
  LINE.SPACE1 = 1
  OLD.START.LINE = 0
  ERRMSG = ''
*
  ECD.ACTION = 3;CALL SCRN.EDIT
**
*
  GOSUB 1000
  GOTO 9000
*
1000 START.LINE = 1 + INT((LN1-1)/PAGE.SIZE1)*PAGE.SIZE1
  LAST.LINE = START.LINE + PAGE.SIZE1- 1
  IF LAST.LINE > LINES1 THEN LAST.LINE = LINES1
  IF START.LINE = OLD.START.LINE THEN GOTO 1999
  OLD.START.LINE = START.LINE
  CNT = 1
  FOR N = START.LINE TO LAST.LINE
    SLN = BEGIN.PAGE1 + LINE.SPACE1 * MOD(N-1,PAGE.SIZE1)
    P_X  = 10 ; P_Y = SLN ; P_VALUE = N "R#3" ; P_OPT = ""
    P_X  := AM:15 ; P_Y := AM:SLN ; P_VALUE := AM:GLACCT "L#6"
    P_X  := AM:23 ; P_Y := AM:SLN ; P_VALUE := AM:GLDESC "L#25"
    P_X  := AM:50 ; P_Y := AM:SLN ; P_VALUE := AM:DVDPCC<1,LN,N>[1,2] "R#2"
    P_X  := AM:53 ; P_Y := AM:SLN ; P_VALUE := AM:DVDPCC<1,LN,N>[3,2] "R#2"
    P_X  := AM:56 ; P_Y := AM:SLN ; P_VALUE := AM:DVDPCC<1,LN,N>[5,3] "R#3"
    P_X  := AM:62 ; P_Y := AM:SLN ; P_VALUE := AM:OCONV(AMT<1,LN,N>,"MD2") "R#13"
    CALL VSI_PLINE(P_X,P_Y,P_VALUE,P_OPT)
    CNT = CNT + 1
  NEXT N
  FOR M = CNT TO PAGE.SIZE1
    SLN = BEGIN.PAGE1 + LINE.SPACE1 * MOD(M-1,PAGE.SIZE1)
    P_X  = 0 ; P_Y = SLN ; P_VALUE = "" ; P_OPT = "CL"
    CALL VSI_PLINE(P_X,P_Y,P_VALUE,P_OPT)
  NEXT M
1999 RETURN
*
*
9000*
  ECD.NUM=1;ECD.ACTION=4;CALL SCRN.EDIT
  BEGIN CASE
    CASE ECD.RET.VALUE = "E"
      GOTO 99999
    CASE ECD.RET.VALUE = "S"
      LN1 = LN1 + PAGE.SIZE1
      IF LN1 > LINES1 THEN
        IF MIV.COA<1,LN,LN1> = "" THEN LN1 = 1
      END
      GOSUB 1000
    * T25978 v
    CASE ECD.RET.VALUE = 'SR'
      LN1 -= PAGE.SIZE1
      IF LN1 < 1 THEN LN1 = 1
      GOSUB 1000
    CASE ECD.RET.VALUE = 'ST'
      LN1 = 1
      GOSUB 1000
    CASE ECD.RET.VALUE = 'SB'
      LN1 = LINES1
      GOSUB 1000
    * T25978 ^
    CASE 1
      GOTO 9000
  END CASE
  GOTO 9000
*
91000 ERR.TYPE=1;CALL SYSCOM(MAT SYSCOM.REC);RETURN
* 91000 PRINT @(0,23):ERRMSG:CL:
* INPUT XX:
* CRT @(0,23):CL:
* RETURN
99999 *
  ECD.ACTION=99;CALL SCRN.EDIT
  RETURN
END
