***********************
* REVISION  - [08.0]  *
***********************
*   KEY = CONO : F-DIV : F-DEPT : F-CCTR : F-ACCOUNT
CDR.REC.SIZE = 30
DIM CDR.REC(30)
EQU CDR.TYPE   TO CDR.REC(1)
EQU CDR.F.PCNT TO CDR.REC(2)
EQU CDR.ACCT   TO CDR.REC(3) ; * XX
EQU CDR.DIV    TO CDR.REC(4) ; * XX
EQU CDR.DEPT   TO CDR.REC(5) ; * XX
EQU CDR.CCTR   TO CDR.REC(6) ; * XX
EQU CDR.PCNT   TO CDR.REC(7) ; * XX
EQU CDR.P.ACCT TO CDR.REC(8) ; * XX
EQU CDR.P.DIV  TO CDR.REC(9) ; * XX
EQU CDR.P.DEPT TO CDR.REC(10) ; * XX
EQU CDR.P.CCTR TO CDR.REC(11) ; * XX
EQU CDR.OPER   TO CDR.REC(12) ; * Operator
EQU CDR.PERIOD TO CDR.REC(13) ; * PERIOD
EQU CDR.STATUS TO CDR.REC(14) ; * NO POST STATUS
EQU CDR.REF    TO CDR.REC(15) ; * (LITHO)
EQU CDR.REV    TO CDR.REC(16) ; * REVERSAL FLAG FOR BERLIN (Y/N)
